.outer {
  padding-top: 150px;
	left: 50%;
	top: 25%;
	position: absolute;
}

.inner {
	position: relative;
	left: -50%;
}

.button {
  margin: 50px auto 0 auto;
  width: 200px;
  cursor: pointer;
}

.button img {
  width: 200px;
}
