.navRow {
  width: 95%;
  margin: 0 auto;
  display: flex;
  padding: 5px 0;
}

.navRow div {
  text-align: center;
}

.navRow a {
  width: 50%;
  margin: 0 auto;
}

.navRow a:first-child {
  border-right: 1px solid lightgrey;
}

.navRow a:hover {
  text-decoration: none;
}
