.mapNav {
  color: #f9d6ff !important;
}

.groupNav {
  color: #dddaff !important;
}

.agendaNav {
  color: #ddffd6 !important;
}

.schedNav {
  color: #fffecc !important;
}

.chatNav {
  color: #ffd5d5 !important;
}

.header {
  padding: 0px !important;
  margin: 0px !important;
  background-color: #bffffd !important;
  border-color: #bffffd !important;
  box-shadow: 0px 0px 8px 0px rgba(12, 12, 12, 0.55) !important;
}

.logo {
  margin: 0px !important;
  height: 55px !important;
  width: 239px !important;
}

.button {
  float: right;
  padding: 15px 0px 15px 0px !important;
  background: rgba(0, 0, 0, 0) !important;
}
