.sRow {
  border-bottom: rgba(107, 1, 1, 0.32);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.sRow > * {
  padding-right: 0 !important;
}

.sRowSelected {
  background-color: rgba(219, 255, 252, 0.35);
  border-bottom: rgba(107, 1, 1, 0.32);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.centerDiv {
  width: 62% !important;
}

.navB {
  display: inline-block;
  margin: 10px;
  font-size: 15px;
  color: #d4d8dd;
}

.addButton {
  color: rgba(0, 144, 0, 0.70);
  top: 25%;
  position: absolute;
}

.removeButton {
  color: rgba(222, 0, 0, 0.70);
  top: 25%;
  position: absolute;
}

.container {
  flex-direction: row-reverse !important;
  display: table-cell;
  margin-top: 2px !important;
}

.clickingDiv {
  padding: 0px !important;
}

.imageDiv {
  padding-right: 0px !important;
}
