.aRow {
  border-bottom: rgba(107, 1, 1, 0.32);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.aRow > * {
  padding-right: 0 !important;
}

.centerDiv {
  width: 62% !important;
}

.navB {
	display: inline-block;
	margin: 10px;
	font-size: 15px;
	color: #d4d8dd;
}

.removeButton {
  color: rgba(0, 0, 0, 0.70);
  top: 25%;
  position: absolute;
}

.clickingDiv {
  padding: 0px !important;
}

.container {
  flex-direction: row-reverse !important;
  display: table-cell;
}

.imageDiv {
  padding-right: 0px !important;
}

.modal {
  height: 400px !important;
}

.ellipsis {
  background: rgba(0, 0, 0, 0) !important;
  padding-left: 0px !important;
}

#mContent {
  padding-right: 0px !important;
  height: 308px !important;
}

.mImage {
  padding-left: 15px !important;
}

.mInfo {
  padding-left: 0px !important;
}

.mDay {
  font-size: 18px !important;
}

.mStage {
  font-size: 24px !important;
}

.mTime {
  font-size: 14px !important;
}

.mHeader {
  font-size: 20px !important;
}

.mButton {
  width: 100% !important;
  height: 50px !important;
}

.mAttendingFriends {
  font-size: large;
}

.spacer {
  height: 5px;
}