.aRow {
  border-bottom: rgba(107, 1, 1, 0.32);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.aRow > * {
  padding-right: 0 !important;
}

.centerDiv {
  width: 62% !important;
}

.navB {
	display: inline-block;
	margin: 10px;
	font-size: 15px;
	color: #d4d8dd;
}

.removeButton {
  color: rgba(222, 0, 0, 0.70);
  top: 25%;
  position: absolute;
}

.clickingDiv {
  padding: 0px !important;
}

.container {
  flex-direction: row-reverse !important;
  display: table-cell;
}
