
/*.gRow {
  border-bottom: 1px solid black;
  margin: 5px;
  height: 90px;
}

.gRow img {
  padding: 5px;
  width: 90px;
}

.gRow > * {
  float: left;
  display: inline-block;
}
    background: linear-gradient(to bottom right, #ffe482, rgba(255, 120, 113, 0.97));
    background-color: rgba(163, 216, 204, 0.2)

    .ui.celled.grid {
    width: 100%;
    margin: 1em 0;
    box-shadow: 0px 0px 8px 0px rgba(12, 12, 12, 0.55);


.gRow p {
  padding: 20px;
  margin-bottom: 0;
}*/
.grid {
  width: 100%;
  margin: 1em 0;
  box-shadow: 0px 0px 8px 0px rgba(12, 12, 12, 0.55) !important;

}

.gRow {
  background-color: rgba(163, 216, 204, 0.2);
  box-shadow: none !important;
}
/* Icon Row */

.icon {
  margin: 0px !important;
  height: 70px;
  padding: 0px !important;
}

.sort:hover {
  background: rgba(148, 215, 247, 0.25) !important;
}

.sort {
  height: 100%;
  width: 100%;
  border-radius: 0px !important;
  background: rgba(146, 78, 78, 0.43) !important;
}

.sortToolbar {
  overflow-x: hidden !important;
}

.buttonDiv {
  box-shadow: none !important;
  padding-top: 26px !important;
}

.button {
  float: right !important;
}

.centerDiv {
    box-shadow: none !important;
    padding: 1em;
}

.gButton:hover {
  background: rgba(148, 215, 247, 0.25) !important;
}

.gButton {
  background: rgba(146, 78, 78, 0.43) !important;
  color: rgba(0, 0, 0, 0.58) !important;
}
