<<<<<<< HEAD
.text {
  color: '#1cafff';
  fontSize: 20;
}

.subtext {
  color: 'grey';
}

.profile_img {
  width: 50;
  height: 50;
  marginRight: 5;
}

button {
  background-color: '#222222';
  height: 70;
  alignItems: 'center';
  justifyContent: 'center';
}

.sort_row {
  height: 60;
  flexDirection: 'row';
  backgroundColor: '#222222';
}
.sort_item {
  alignItems: 'center';
  justifyContent: 'center';
}
.fixed {
  /*position:fixed;
  top:200px;*/
}

.friendView {
  height: 70%;
  overflow-y: auto;
}

.gRow {
  border-bottom: 1px solid black;
  margin: 5px;
  height: 70px;
}

.gRow img {
  padding: 5px;
  width: 70px;
}

.gRow > * {
  float: left;
  display: inline-block;
}

.gRow p {
  padding-top: 5px;
  margin-bottom: 0;
}

/* Icon Row */

.icon {
  margin: 5px 5px 15px 5px;
  height: 70px;
}

.icon > * {
  float: left;
  display: inline-block;
}

.icon img {
  padding: 10px;
  height: 70px;
  margin: 0 auto;
  display: block;
}

