
.gRow {
  border-bottom: 1px solid black;
  margin: 5px;
  height: 70px;
}

.gRow img {
  padding: 5px;
  width: 70px;
}

.gRow > * {
  float: left;
  display: inline-block;
}

.gRow p {
  padding-top: 5px;
  margin-bottom: 0;
}

/* Icon Row */

.icon {
  margin: 0px !important;
  height: 70px;
  padding: 0px !important;
}

.sort {
  height: 100%;
  width: 100%;
  border-radius: 0px !important;
  
}
