
.grid {
  overflow-y: auto;
  margin: 0 !important;
  box-shadow: 0px 0px 8px 0px rgba(12, 12, 12, 0.55) !important;
}

.gRow {
  border-bottom: rgba(99, 52, 1, 0.25);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: rgba(163, 216, 204, 0.2);
  min-height: 100px;
  box-shadow: none !important;
  padding: 10px 0px 0px 0px !important;
}
/* Icon Row */

.icon {
  width: 33.2% !important;
  margin: 0 !important;
  height: 70px;
  padding: 0 !important;
}

.icon button {
  padding: 0 !important;
  margin: 0 !important;
}

.sortRow {
  margin: 0 !important;
  padding: 0 !important;
}

.sort:hover {
  background: rgba(148, 215, 247, 0.25) !important;
}

.sort {
  height: 100%;
  width: 100%;
  border-radius: 0px !important;
  background: black !important;
}

.sortToolbar {
  overflow-x: hidden !important;
}

.sortToolbar > div {
  margin: 0 !important;
}

.buttonDiv {
  box-shadow: none !important;
  padding-top: 12px !important;
  padding-right: 20px !important;
}

.button {
  float: right !important;
}

.centerDiv {
  box-shadow: none !important;
  padding: 1em 0 !important;
  width: 62% !important;
}

.gButton:hover {
  background: rgba(148, 215, 247, 0.25) !important;
}

.gButton {
  background: rgba(146, 78, 78, 0.43) !important;
  color: rgba(0, 0, 0, 0.58) !important;
}

.imageDiv {
  padding: 10px !important;
}

.timestamp {
  font-size: 10px;
  color: #5f6b6d;
}

.modal {
  height: 460px !important;
}

.modalImage {
  display: inline-block !important;
  padding-left: 10px !important;
}

.mGeofence {
  font-size: 18px;
}

.mButtonDiv {
  padding: 5px 0px 5px 0px !important;
}

.mCenterDiv {
  padding: 0px !important;
  width: 43% !important;
}

.mArtistName {
  font-size: 14px
}

.ellipsis {
  background: rgba(0, 0, 0, 0) !important;
  padding-left: 0px !important;
}

.agenda {
  padding: 0px 0px 0px 0px !important;
  display: flex;
  font-size: 12px !important
}

.agendaCol, .includesAgendaCol {
  padding-right: 0px !important;
  padding-left: 0px !important;
  width: 43% !important;
}

.agendaColTime, .includesAgendaColTime {
  padding-right: 0px !important;
  padding-left: 20px !important;
  width: 43% !important;
}

.agendaCol {
  color: #424242 !important;
}

.includesAgendaCol {
  color: #00a7de !important;
}

.agendaColTime {
  color: #424242 !important;
}

.includesAgendaColTime {
  color: #00a7de !important;
}

.mHeader {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
}

.mSelector {
  font-size: 14px !important;
}

#mContent {
  padding-right: 0px !important;
  height: 372px !important;
  width: 100% !important;
}

.azButton, .gfButton, .pxButton {
  height: 100%;
  width: 100%;
  border-radius: 0px !important;
  background: black !important;
}

.azButton {
  color: #bffffd !important;
}

.gfButton {
  color: #e7bfff !important;
  border-left-style: solid !important;
  border-width: 1px !important;
  border-color: #2d2d2d !important;
}


.pxButton {
  color: #ffbfbf !important;
  border-left-style: solid !important;
  border-width: 1px !important;
  border-color: #2d2d2d !important;
}

.azButton:hover, .gfButton:hover, .pxButton:hover {
  background: #191919 !important;
}

.azButton:hover {
  color: #71fdf9 !important;
}

.gfButton:hover {
  color: #cc78ff !important;
}

.pxButton:hover {
  color: #ff6b6b !important;
}

.removeButton {
  height: 45px !important;
}

.fContent {
  font-size: large;
  display: inline-block;
}

.fActions {
  text-align: center !important;
}

.fButton {
  text-align: center !important;
}

input {
  width: 109px !important;
  padding: 0px !important;
  font-size: large !important;
}